html {
  background-color: #e8e8e8;
}

h1 {
  text-align: center;
  color: #111;
}

.contenedor-inputs {
  display: flex;
  justify-content: center;
}

.contenedor {

  justify-content: center;
}

.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}

.coolinput label.textLabel {
  font-size: 0.75rem;
  color: #113448;
  font-weight: 700;
  position: relative;
  top: 0.8rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: white;
  width: fit-content;
}

.coolinput input.input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #113448 solid;
  border-radius: 5px;
  width: 200px;
  background: white;
}

.coolinput input.input:focus {
  outline: none;
}

.boton {
  display: flex;
  justify-content: center;
}

.boton-b {
  border-radius: 5px;
  cursor: pointer;
  padding: 0.8em 1.8em;
  border: 2px solid #56b441;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #56b441;
}

.boton-b::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #56b441;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.boton-b:hover::before {
  width: 105%;
}

.boton-b:hover {
  color: white;
}


table {
  border-collapse: collapse;
  border: 3px solid black;

  font-size: larger;
}

th {
  border: 2px solid black;
  color: black;
  background-color: #999fcf;
}

tr {
  height: 40px;
}

.datos {
  border: 2px solid black;
  padding-left: 5px;
  padding-right: 30px;
}

.icono {
  text-align: center;
  border: 2px solid black;
  width: 30px;
}

.EditarEliminar {
  width: 20px;
}

.descargar {
  width: 30px;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

/* Boton cerrar sesión */

.BtnCerrarSesion {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #56b441;
}

/* plus sign */
.sign2 {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign2 svg {
  width: 17px;
}

.sign2 svg path {
  fill: white;
}

/* text */
.textCerrar {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-weight: 600;
  transition-duration: .3s;
}

/* hover effect on button width */
.BtnCerrarSesion:hover {
  width: 170px;
  border-radius: 40px;
  transition-duration: .3s;
}

.BtnCerrarSesion:hover .sign2 {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

/* hover effect button's text */
.BtnCerrarSesion:hover .textCerrar {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

/* button click effect*/
.BtnCerrarSesion:active {
  transform: translate(2px, 2px);
}